<div>
  <div class="d-flex justify-content-between">
    <h4>Registrar nuevo proceso</h4>
    <button type="button" routerLink="/proceso/index" class="btn btn-primaryt">Regresar</button>
  </div>

  <hr/>
<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="title">Folio:</label>
            <input
              formControlName="folio"
              id="folio"
              type="text"
              class="form-control">
            <div *ngIf="f.folio.touched && f.folio.invalid" class="alert alert-danger">
                <div *ngIf="f.folio.errors?.required">*Requerido.</div>
            </div>
          </div>
      </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="title">Nombre completo:</label>
              <input
                formControlName="nombre"
                id="nombre"
                type="text"
                class="form-control">
              <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
                  <div *ngIf="f.nombre.errors?.required">*Requerido.</div>
                  <div *ngIf="f.nombre.errors?.pattern">*Solo letras.</div>
              </div>
            </div>
        </div>
       

        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="fecha_eval">Fecha de evaluación:</label>
            <input
              formControlName="fecha_eval"
              id="fecha_eval"
              type="date"
              class="form-control">
            <div *ngIf="f.fecha_eval.touched && f.fecha_eval.invalid" class="alert alert-danger">
                <div *ngIf="f.fecha_eval.errors?.required">*Requerido.</div>
                
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="fecha_recep">Fecha de recepción del certificado:</label>
            <input
              formControlName="fecha_recep"
              id="fecha_recep"
              type="date"
              class="form-control">
            <div *ngIf="f.fecha_recep.touched && f.fecha_recep.invalid" class="alert alert-danger">
                <div *ngIf="f.fecha_recep.errors?.required">*Requerido.</div>
                
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="fecha_entre">Fecha de entrega del certificado:</label>
            <input
              formControlName="fecha_entre"
              id="fecha_entre"
              type="date"
              class="form-control">
            <div *ngIf="f.fecha_entre.touched && f.fecha_entre.invalid" class="alert alert-danger">
                <div *ngIf="f.fecha_entre.errors?.required">*Requerido.</div>
                
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="evaluador">Evaluador:</label>
            <select
              formControlName="evaluador"
              id="evaluador"
              class="form-control">
              <option [value]="item.id_evaluadores" *ngFor="let item of evaluadores">
                {{item.nombre_evaluador}}
              </option>
            </select>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="juicio">Juicio:</label>
            <select
              formControlName="juicio"
              id="juicio"
              class="form-control">
              <option [value]="item.id_juicio" *ngFor="let item of juicio">
                {{item.tipo_juicio}}
              </option>
            </select>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="dictamen">Dictamen:</label>
            <select
              formControlName="dictamen"
              id="dictamen"
              class="form-control">
              <option [value]="item.id_dictamen" *ngFor="let item of dictamen">
                {{item.tipo_dictamen}}
              </option>
           </select>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="estado">Estado:</label>
            <select
              formControlName="estado"
              id="estado"
              class="form-control">
              <option [value]="item.id_estado" *ngFor="let item of estado">
                {{item.tipo_estado}}
              </option>
           </select>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="estandar">Estándar:</label>
            <select
              formControlName="estandar"
              id="estandar"
              class="form-control">
              <option [value]="item.id_estandares" *ngFor="let item of estandar">
                {{item.clave_estandar}}
              </option>
           </select>
          </div>
      </div>
      <div class="form-group row mt-4">
          <div class="col-md-6">
              <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Registrar</button>
          </div>
          
      </div>
    </form>
    </div>
    </div>
</div>